/*3 columns*/

/* Middle column white background*/

/*left side column changes color based on team selected*/
/*right side column changes color based on team selected*/


h1, h2{
	text-align: center;
}
.jumbotron{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

#title{
	margin: auto;
}

.row0{
	width: 100%;	
}

#p1Info, #p2Info{
	width: 70%;
	margin: auto;
}

#newGame, #resetGame{
	width: 80px;	
}

#gameButtons{
	text-align:center;
}

.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

#container{
    text-align:center;
}

#board {
    display: inline-block;
    margin-top:2%;

}
.invisible {
    visibility:hidden;
}
.visible {
    visibility:visible;
}
.header {
  font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

table {
    background-color: #FAFAFA;
    text-align:center;
      font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
}
p {
    margin-left:25%;
    margin-right:25%;
}