/*3 columns*/

/* Middle column white background*/

/*left side column changes color based on team selected*/
/*right side column changes color based on team selected*/

.btn-group{
	padding:20px 0 0 10px;
}


.gameBoard{
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 0 auto;
}